.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

a {
  text-decoration: none;
}
p {
  margin: 0;
  font-weight: 600;
  color: rgb(23, 24, 53);
  text-align: center;
}

.back-to-search {
  margin-left: 1rem;
}
.card {
  /* background-color: dodgerblue; */
  border-style: solid;
  border-color: white;
  background-color: rgb(206 210 219);
  border-width: 0.2rem;
  /* color: white; */
  padding: 1rem;
  height: 7rem;
  border-radius: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receipe-img {
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

/* @media (min-width: 600px) {
    .container{ grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .container { grid-template-columns: repeat(3, 1fr); }
  } */
